.new-todo {
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  font-size: 1.8rem;
  font-style: italic;
  width: 100%;
  padding: 16px 16px 18px 16px;
}

ul.todo-list li {
  display: flex;
  border-top: 1px solid var(--backgroung-color);
  border-bottom: 1 solid var(--backgroung-color);
}

.todo {
  flex: 1;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
  word-break: break-all;
  line-height: 1.2rem;
  transition: color 0.3s;
  padding: 15px 15px 17px 15px;
}

.todo.checked {
  color: var(--disable-text);
  text-decoration: line-through;
  font-style: italic #000;
}

.btn-remove {
  background-color: transparent;
  border: none;
  color: #fb7185;
  outline: none;
  cursor: pointer;
  width: 50px;
}
